<web-app>
    <display-name>Web Framework Test</display-name>
    <servlet>
        <servlet-name>WebFwTest</servlet-name>
        <servlet-class>com.webfw.RequestRouterServlet</servlet-class>
        <init-param>
            <param-name>basePackage</param-name>
            <param-value>com.webfwtest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebFwTest</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>